<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Galeria de Dinossauros - Jurassic World</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
        <h1>Galeria de Dinossauros</h1>
        <p>Jurassic Park & Jurassic World</p>
    </header>

    <section>
        <h2>Dinossauros Terrestres</h2>
        <div class="galeria">
            <div class="dino">
                <img src="imagens/t-rex.png" alt="Tyrannosaurus Rex">
                <h3>Tyrannosaurus Rex</h3>
            </div>
            <div class="dino">
                <img src="imagens/Velociraptors.png" alt="Velociraptor">
                <h3>Velociraptor</h3>
            </div>
            <div class="dino">
                <img src="imagens/estegossauro.png" alt="Estegossauro">
                <h3>Estegossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/estigmoloch.png" alt="Estigmoloch">
                <h3> Estigmoloch</h3>
            </div>
            <div class="dino">
                <img src="imagens/dilofossauro.png" alt="Dilofossauro">
                <h3>Dilofossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/alossauro.png" alt="Alossauro">
                <h3>Alossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/anquilossauro.png" alt="Anquilossauro">
                <h3>Anquilossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/apatossauro.png" alt="Apatossauro">
                <h3>Apatossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/Barionix.png" alt="Barionix">
                <h3>Barionix</h3>
            </div>
            <div class="dino">
                <img src="imagens/Braquiossauro.png" alt="Braquiossauro">
                <h3>Braquiossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/carnotauro.png" alt="Carnotauro">
                <h3>Carnotauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/ceratossauro.png" alt="Ceratossauro">
                <h3>Ceratossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/Compsognathus.png" alt="Compsognato">
                <h3>Compsognato</h3>
            </div>
            <div class="dino">
                <img src="imagens/espinossauro.png" alt="Espinossauro">
                <h3>Espinossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/galimimos.png" alt="Galimimo">
                <h3>Galimimo</h3>
            </div>
            <div class="dino">
                <img src="imagens/mamenquissauro.png" alt="Mamenquissauro">
                <h3>Mamenquissauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/parassaurolofo.png" alt="Parassaurolofo">
                <h3>Parassaurolofo</h3>
            </div>
            <div class="dino">
                <img src="imagens/sinoceratops.png" alt="Sinoceratops">
                <h3>Sinoceratops</h3>
            </div>
            <div class="dino">
                <img src="imagens/triceratops.png" alt="Triceratops">
                <h3>Triceratops</h3>
            </div>
            <div class="dino">
                <img src="imagens/pachycephalosaurus.png" alt="paquicefalossauro">
                <h3>Paquicefalossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/Giganotossauro.png" alt="Giganotossauro">
                <h3>Giganotossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/Dimetrodon.png" alt="Dimetrodon">
                <h3>Dimetrodon</h3>
            </div>
            <div class="dino">
                <img src="imagens/edmontossauro.png" alt="Edmontossauro">
                <h3>Edmontossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/Dreadnoughtus.png" alt="Dreadnoughtus">
                <h3>Dreadnoughtus</h3>
            </div>
            <div class="dino">
                <img src="imagens/Oviraptor.png" alt="Oviraptor">
                <h3>Oviraptor</h3>
            </div>
            <div class="dino">
                <img src="imagens/Moros.png" alt="Moros">
                <h3>Moros</h3>
            </div>
            <div class="dino">
                <img src="imagens/Microceratus.png" alt="Microceratus">
                <h3>Microceratus</h3>
            </div>
            <div class="dino">
                <img src="imagens/listrossaurus.png" alt="Listrossaurus">
                <h3>Listrossaurus</h3>
            </div>
            <div class="dino">
                <img src="imagens/Terezinossauro.png" alt="Terezinossauro">
                <h3>Terezinossauro</h3>
            </div>
            <div class="dino">
                <img src="imagens/Teratophoneus.png" alt="Teratophoneus">
                <h3>Teratophoneus</h3>
            </div>
            <div class="dino">
                <img src="imagens/iguanodon.png" alt="Iguanodon">
                <h3>Iguanodon</h3>
            </div>
            <div class="dino">
                <img src="imagens/Pyrraptor.png" alt="Pyroraptor">
                <h3>Pyroraptor</h3>
            </div>
        </div>
    </section>

    <section>
        <h2>Répteis Voadores</h2>
        <div class="galeria">
            <div class="dino">
                <img src="imagens/Pteranodon.png" alt="Pteranodon">
                <h3>Pteranodon</h3>
            </div>
            <div class="dino">
                <img src="imagens/Dimorphodon.png" alt="Dimorphodon">
                <h3>Dimorphodon</h3>
            </div>
            <div class="dino">
                <img src="imagens/Quetzalcoatlus.png" alt="Quetzalcoatlus">
                <h3>Quetzalcoatlus</h3>
            </div>
        </div>
    </section>

    <section>
        <h2>Espécies Aquáticas</h2>
        <div class="galeria">
            <div class="dino">
                <img src="imagens/mosasaurus.png" alt="Mosasaurus">
                <h3>Mosasaurus</h3>
            </div>
        </div>
    </section>
    <section>
        <h2>Criaturas Híbridas</h2>
        <div class="galeria">
            <div class="dino">
                <img src="imagens/Indominusrex.png" alt="Indominus-rex">
                <h3>Indominus-rex</h3>
            </div>
            <div class="dino">
                <img src="imagens/scorpiusrex.png" alt="Scorpius-rex">
                <h3>Scorpius-rex</h3>
            </div>
            <div class="dino">
                <img src="imagens/indoraptor.png" alt="Indoraptor">
                <h3>Indoraptor</h3>
            </div>

        </div>
    </section>
    <nav>
        <a href="nos.html">👥 Sobre Nós</a>
    </nav>
</body>

<footer>
    <p>© 2025 Projeto Jurassic World </p>
</footer>
</html>