<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Espécies - Jurassic Park & World</title>
    <link rel="stylesheet" href="styles.css"> <!-- Arquivo CSS -->
</head>
<body>
    <header>
        <h1>Galeria de Espécies - Jurassic Park & World</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#marinhos">Répteis Marinhos</a></li>
            <li><a href="#voadores">Répteis Voadores</a></li>
            <li><a href="#dinossauros">Dinossauros</a></li>
        </ul>
    </nav>

    <main>
        <section id="marinhos">
            <h2>Répteis Marinhos</h2>
            <div class="gallery">
                <div class="item">
                    <img src="images/marinho1.jpg" alt="Répteis Marinhos 1">
                    <p>Nome: Mosassauro</p>
                </div>
                <div class="item">
                    <img src="images/marinho2.jpg" alt="Répteis Marinhos 2">
                    <p>Nome: Plesiossauro</p>
                </div>
            </div>
        </section>

        <section id="voadores">
            <h2>Répteis Voadores</h2>
            <div class="gallery">
                <div class="item">
                    <img src="images/voador1.jpg" alt="Répteis Voadores 1">
                    <p>Nome: Pteranodon</p>
                </div>
                <div class="item">
                    <img src="images/voador2.jpg" alt="Répteis Voadores 2">
                    <p>Nome: Pterosaurus</p>
                </div>
            </div>
        </section>

        <section id="dinossauros">
            <h2>Dinossauros</h2>
            <div class="gallery">
                <div class="item">
                    <img src="JurassicDataBase/templates/JurassicDataBase/images/Jurassic_World_Rexy_2.jpeg" alt="Dinossauro 1">
                    <p>Nome: Tyrannosaurus Rex</p>
                </div>
                <div class="item">
                    <img src="images/dinossauro2.jpg" alt="Dinossauro 2">
                    <p>Nome: Velociraptor</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Jurassic Park & World | Todos os direitos reservados</p>
    </footer>
</body>
</html>
