@font-face {
    font-family: 'Jurassic';
    src: url('./fontes/JurassicPark-BL48.ttf') format('truetype');
}


body {
    margin: 0;
    font-family: 'Arial', sans-serif; 
    background-color: #000;
    color: #fff;
}

header {
    background-color: #b30000;
    text-align: center;
    padding: 30px 10px;
}

header h1 {
    font-family: 'Jurassic', sans-serif;
    margin: 0;
    font-size: 64px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000; 

}


header p {
    font-family: 'Jurassic', sans-serif;
    margin-top: 10px;
    font-size: 30px;    
    text-shadow: 2px 2px 4px #000; 
}

section {
    padding: 30px 20px;
}

section h2 {
    border-bottom: 2px solid #b30000;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 32px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dino {
    background-color: #111;
    border: 2px solid #b30000;
    padding: 15px;
    width: calc(33% - 40px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.2s;
}

.dino:hover {
    transform: scale(1.05);
    border-color: #ff1a1a;
}

.dino img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.dino h3 {
    margin: 10px 0 0;
    font-size: 20px;
    font-family: 'Verdana', sans-serif; 
}

@media (max-width: 768px) {
    .dino {
        width: calc(50% - 40px);
    }
}

@media (max-width: 500px) {
    .dino {
        width: 100%;
    }
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    background-color: #b30000;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ff1a1a;
}

footer {
    background-color: #1a1a1a;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
    border-top: 2px solid #b30000;
}

footer p {
    margin: 5px 0;
}